.card{
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background: #f6f3f3;
}
.details {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.details h2 {
    font-size: 20px;
    font-weight: 700;
}
.address {
    display: flex;
    gap: 10px;
    padding: 10px;
}
.home {
    padding: 5px;
}
.home h3 {
    font-weight: 900;
}
.company {
    padding: 5px;
}
.company h3 {
    font-weight: 900;
}
